.drago{width: 750px;
height: 700px;


}
#right{
position: absolute;
left:750px;
}


@keyframes movel {
  0%{position: absolute; left: 0px;  }
  100%{position: absolute;left: -850px}

}

@keyframes mover {
  0%{position: absolute; left: 750px;}
  100%{position: absolute;left: 1620px;}

}

.moveLeft{

  animation-name:movel;
 animation-duration: 3s;
}

.moveRight{

  animation-name:mover;
 animation-duration: 3s;
}

.wipe{
  display: none;
}

#single_Game{
position:absolute;
top :300px;
left:700px;
  align:center;
}

#multi_Game{
  position:absolute;
  top :400px;
  left:700px;
}

#h{
  color:#B3B3B3;
}

#player_name{
  margin-left: 20px;
}

.intro{
  opacity: 0.32;
}

#im1{
  position: absolute;
  top:225px;
left:150px;}

#im2{
  position: absolute;
  top: 200px;
  left:1000px;
}
