.form-control{
  width: 30%;
margin-left: 400px;

}
.align{
  padding-left: 600px;

}
#fix{
  margin-bottom: 40px;
}

#but{
  margin-left: 530px;
  width: 200px;
  margin-top: :50px;

}

.form-group{
  margin-top: 30px;
}
.wipe{
  display: none;
}
